@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  outline: none;
  border-bottom: 1px solid rgb(182, 182, 182);
}

button {
  background-color: rgb(35, 112, 255);
  color: #fff;
}
